.App {
  font-family: sans-serif;
  text-align: center;
}
nav {
  background-color: rgb(3, 185, 31);
  position: relative;
  color: #fff;
  padding: 0px 10px 0px 20px;
}
/*Logo*/
.logo {
  color: black;
  padding: 10px;
}
/*Links*/

.links a {
  padding: 2px;
  text-decoration: none;
  color: blue;
  font-size: 18px;
  font-family: serif;
}
.links button {
  border-style: none;
  border: solid 2px;
  margin: 2px;
  height: 20px;
}
footer {
  background-color: black;
  color: #fff;
}
